<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {#Ajout de Boostrap pour tous les fichier du l'app#}
            <link rel="stylesheet"  href="{{asset('css/bootstrap.css')}}" />
            {# CSS de base #}
            <link rel="stylesheet" href="{{asset('css/app.css')}}">
            
        {% endblock %}
    </head>
    <body class="container">
        {% include 'header.html.twig' %} {# include du header#}

        {% block body %}{% endblock %}
        
        {% include 'footer.html.twig' %} {# include du footer#}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{asset('js/main.js')}}"></script>
            <script src="{{asset('js/bootstrap.js')}}"></script>
        {% endblock %}
    </body>
</html>
